#portfolio > h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-service {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
}
.marketing {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
